.new-poll-dialog {
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 20px;
}

.new-poll-dialog.show {
  display: block;
}